html {
  background: rgb(226, 235, 223);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  background-image:url(https://www.americanmeadows.com/media/catalog/category/subcat-banner-watermelon.jpg);
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: cursive;
}

.pics {
  align-content: center;
}

.pic-grid {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
}

.types {

}

footer {

}
