html {
  background: rgb(226, 235, 223);
  font-family: sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  text-align: center;
  background-image:url(https://www.americanmeadows.com/media/catalog/category/subcat-banner-watermelon.jpg);
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: cursive;
}

.pics {
  align-content: center;
}

.pic-grid {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(3, 200px);
  grid-gap: 15px;
  justify-content: center;
}

.pic-grid div {
  justify-content: center;
  /* padding: 5px; */
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-image: url(http://www.bellybytes.com/food/images/allsweet-watermelon.jpg);
  background-size: 200px 200px;
  background-repeat: no-repeat;

}

img {
  height: 190px;
  width: 190px;
  transition: height 3s, width 3s;
}

h2 {
  text-align: center;
}

ul {
  font-weight: bold;
  text-align: center;
  list-style: none;
}

.types {
}

footer {
  text-align: center;
}

.pic-grid div img:active {
  height: 0;
  width: 0;
}
